<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324187018510-e7mq2ijgfuc4mdo4qv76m57jl1fq04cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324187018510-e7mq2ijgfuc4mdo4qv76m57jl1fq04cg</string>
	<key>API_KEY</key>
	<string>AIzaSyA7S3kFAwIfKFVsB7PyIZv0al2pwhgoUbw</string>
	<key>GCM_SENDER_ID</key>
	<string>324187018510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-421a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-421a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324187018510:ios:67c541dec61dec1a8f735f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-421a5.firebaseio.com</string>
</dict>
</plist>